.content= events.content

.row
  .col-sm
    .numbers.
        #[span.number.num-likes= events.numParticipation] participations,
        #[span.number.num-reads= events.numReads] reads
  .col-sm
    .author
      | asked on #{moment(events.createdAt).format('YYYY-MM-DD')}
      if events.author
        | 
        | by #[a(href=`/users/${events.author.id}`)= events.author.name] 
