
block content
    .container
        h2 Create Event
        h1.main-title Event Detail
        form(action="/events", method="POST" enctype="multipart/form-data")

            .form-group
                label(for="title") EVENT TITLE
                input.form-control(type="String", name="title", placeholder="Give it a short distinct name")

            .form-group.col-6
                label(for="location") LOCATION
                input#myLocation.form-control(type="String", name="location", placeholder="Search for a venue or address", value=mylocation)
                a.btn.btn-primary() search on map
                #map(style='width:500px;height:400px;')
                    .hAddr
                        span.title 지도중심기준 행정동 주소정보
                        span#centerAddr
        
                    script.
                        mapsInit();
                       
            
            .form-group
                label(for="group") GROUP
                input.form-control(type="String", name="group", placeholder="Give it a short distinct name")

            .form-group
                label(for="describeGroup") DESCRIBE GROUP
                textarea.form-control(type="String", name="describeGroup", rows='10', placeholder="Give it a short distinct name")
            .form-froup
                label(for="img") Image
                input.form-control(type="file", name="img") 
            .form-group
                .form-group
                    label(for="content") DESCRIBE YOUR EVENT
                    textarea#editor1(name='content', rows='10', cols='80')
                        | describe your event
                    script.
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace( 'editor1' );


                select#selectFormDate.custom-select.form-control-lg(type="String", name="startTime")
                            option(selected='') 07:00pm
                            option(value='07:30pm') 07:30pm
                            option(value='08:00pm') 08:00pm
                            option(value='08:30pm') 08:30pm
                            option(value='09:00pm') 09:00pm
                            option(value='09:30pm') 09:30pm
                            option(value='10:00pm') 10:00pm

                select#selectFormDate.custom-select.form-control-lg(type="String", name="finishTime")
                            option(selected='') 07:00pm
                            option(value='07:30pm') 07:30pm
                            option(value='08:00pm') 08:00pm
                            option(value='08:30pm') 08:30pm
                            option(value='09:00pm') 09:00pm
                            option(value='09:30pm') 09:30pm
                            option(value='10:00pm') 10:00pm


            .container
            
                h1.main-title Create Tickets
                .form-group
                    label FREE/PAID
                    select#selectFormPrice.custom-select.form-control-lg(type="String", name="free", onchange="getSelectedValue();")
                                option(selected='FREE') FREE
                                option(value='PAID') PAID

                #hidden.form-group
                    label(for="ticketPrice") Ticket Price
                    input.form-control(type="Number", name="ticketPrice", placeholder="put the price")

                .form-group
                label(for="LimitParticipation") The Number Of Participants
                input.form-control(type="Number", name="numLimit", placeholder="set the Limit of the number of Participants")

            .container
                h1.main-title Additional Settings
                .form-group
                    label EVENT TYPE
                    select.custom-select(type="String", name="eventType")
                        option(selected='') Select the type of event
                        option(value='Appearance or Signing') Appearance or Signing
                        option(value='Attraction') Attraction
                        option(value='Camp, Trip, or Retreat') Camp, Trip, or Retreat
                        option(value='Class, Training, or Workshop') Class, Training, or Workshop
                        option(value='Concert or Performance') Concert or Performance
                        option(value='Conference') Conference
                        option(value='Convention') Convention
                        option(value='Dinner or Gala') Dinner or Gala
                        option(value='Festival or Fair') Festival or Fair
                        option(value='Game or Competition') Game or Competition
                        option(value='Meeting or Networking Event') Meeting or Networking Event
                        option(value='Other') Otherinput.btn.btn-info(type='submit', value='Submit')
                        option(value='Party or Social Gathering') Party or Social Gathering
                        option(value='Race or Endurance Event') Race or Endurance Event
                        option(value='Rally') Rally
                        option(value='Screening') Screening
                        option(value='Seminar or Talk') Seminar or Talk
                        option(value='Tour') Tour
                        option(value='Tournament') Tournament
                .form-group
                    label EVENT TOPIC
                    select.custom-select(type="String", name="eventTopic")
                        option(selected='') Select a topic
                        option(value='Auto, Boat &amp; Air') Auto, Boat &amp; Air
                        option(value='Business &amp; Professional') Business &amp; Professional
                        option(value='Charity &amp; Causes') Charity &amp; Causes
                        option(value='Community &amp; Culture') Community &amp; Culture
                        option(value='Family &amp; Education') Family &amp; Education
                        option(value='Fashion &amp; Beauty') Fashion &amp; Beauty
                        option(value='Film, Media &amp; Entertainment') Film, Media &amp; Entertainment
                        option(value='Food &amp; Drink') Food &amp; Drink
                        option(value='Government &amp; Politics') Government &amp; Politics.container
                    h1.main-title FINISH
                input.btn.btn-info(type='submit', value='Submit')
    


