.review.card(id= review.id)
  .numbers.like-badge
    .number
      span.number.num-likes= review.numLikes

  .card-body
    .content= review.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | reviewed on #{moment(review.createdAt).format('YYYY-MM-DD')}
        if review.author
          | 
          | by #[a(href=`/users/${review.author.id}`)= review.author.name]


  if events.author && events.author.id == currentUser.id
    script.
      function showHiddens() {
        var $hiddenForm = $(document.getElementById("hidden"));
        $hiddenForm.show();
      }
    #hidden.form-group
      label(for='review') Your review
      textarea.form-control(name="content", rows="5")
    #hidden.button.btn.btn-primary(type="submit") Post
    .button.btn.btn-primary(onclick="showHiddens();") Post Your Answer

