extends ../layout

block content
  .container
    h1.main-title= events.title

    .event.show
      include _events

      .buttons
        if currentUser
          button.btn.btn-primary.event-participation-btn(data-id=events.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span.btn #[i.fa.fa-thumbs-up] participation
            
          if events.author && events.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/events/${events.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/events/${events.id}?_method=delete`) Delete
      

  script(src='/javascripts/events_client.js')