extends layout

block content
  .container-fluid
    img.img-responsive(src='https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg', alt='picture of ian')
    section#card-content
      .text-card.card.text-center.col-md-10.col-lg-8.col-centered
        h1.text-card-heading Find your next experience
        form.form-inline.col-md-8.col-lg-8.col-centered
          input#inlineFormInputEvent.form-control-lg.searchForm(type='text', placeholder='Search events or categories')
          input#inlineFormInputLocation.form-control-lg.searchForm(type='text', placeholder='City or location')
          select#selectFormDate.custom-select.form-control-lg
            option(selected='') All Dates
            option(value='1') Today
            option(value='2') Tomorrow
            option(value='3') This Week
            option(value='4') This Weekend
            option(value='5') Next Week
            option(value='6') Next Month
          button.btn.btn-search(type='button') Search
    section#post-grids
      h1.post-heading
        | Popular Events in 
        span#text-color-blue Seoul, Republic of Korea
      .posts-container.card-columns.col-md-10.col-centered
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099902%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=1035026ceb8c254b7e75c0397cc2e0a7', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City, Banpo 4(sa)-dong
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F29828283%2F130614122253%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C161%2C1500%2C750&s=4abc6820605bad084d9f4afed218bea8', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City, Banpo 4(sa)-dong
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://cdn.evbstatic.com/s3-build/perm_001/bfc5ea/django/images/discovery/default_logos/5.png', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F32430371%2F201846879411%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C73%2C1518%2C759&s=48e2f9fabb15d735d235281f0c464a54', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099940%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=af78eb586f50014c52a880920004305c', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34943156%2F75554552429%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C50%2C600%2C300&s=625264a365e5e07f2316dc6529a7a9dc', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F35129999%2F139848101790%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C4%2C484%2C242&s=88cc975feb3f29f0fdd322d1f9832a74', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34695330%2F209390713169%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C22%2C810%2C405&s=2c8fa0bc39549928de0f2cea2452cbc4', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://cdn.evbstatic.com/s3-build/perm_001/ba7ef6/django/images/discovery/default_logos/2.png', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F32430371%2F201846879411%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C73%2C1518%2C759&s=48e2f9fabb15d735d235281f0c464a54', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            p.event-info Grease, School Edition - October 20, 2017
            p.specific-info Central City  
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                i.fa-facebook
                a.fa.fa-twitter(href='#')
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34580357%2F205327155999%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C3%2C200%2C100&s=b9223afd4e7abf714e63e8aea6d00a93', alt='Card image cap')
          .card-body
            p.event-date FRI, OCT 20 7:00PM
            a.event-info Grease, School Edition - October 20, 2017
            a.specific-info Seoul Foreign School 
          .card-footer.nav
            ul.nav
              li.nav-item
                p.hash-tag.nav-link #Arts
              li.nav-item
                p.hash-tag.nav-link #Performance
            ul.navbar-nav.ml-auto
              li.nav-item
                i.fa-facebook
                a.fa.fa-twitter(href='#')
    .text-center
      button#see-more-btn.btn-lg.btn-outline-primary(type='button') SEE MORE
    section#Top-categories
      .text-center
        h3#browse-category-text Browse by Top Categories
      .container.categories-container.col-lg-10.col-centered.row
        .category.music.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://events.ottawaperks.ca/assets/img/event-categories/5_cover.jpg', alt='music image')
          .caption.music-label
            p.caption-text Music
        .category.food-N-drink.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://foodtank.com/wp-content/uploads/2017/03/Food-Tank-Keri-Glassman-interview.jpg', alt='food image')
          .caption.food-N-drink-label
            p.caption-text Food-&amp;-drink
        .category.classes.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://i.huffpost.com/gen/1265935/images/h-COLLEGE-CLASS-628x314.jpg', alt='classes image')
          .caption.classes-label
            p.caption-text Classes
        .category.arts.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0gMlhAZC1KGnqj9jk28zR5uJwows0TiGcS7pVJcY96k1DWxywJg', alt='arts image')
          .caption.arts-label
            p.caption-text Arts
        .category.parties.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAOgj8Y0pZJq1qc6eKYmYwW6iQH9u9EoE74QDVAAs2y7OibDstw', alt='party image')
          .caption.parties-label
            p.caption-text Parties
        .category.sports-N-wellness.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbEZw55kKTOGS1aUupVybiXTV7p454ViNulZDts40PSpnLQi52IA', alt='sports image')
          .caption.sports-N-wellness-label
            p.caption-text Sports-N-wellness
        .category.networking.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://businesspulse.co/wp-content/uploads/2017/08/Networking-events.jpg', alt='networking image')
          .caption.networking-label
            p.caption-text Networking

  block footer
    include ./includes/footer
